html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: #4c6ef5;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #4e4e4e;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transform: rotateY(0deg);
    text-align: center;
}

.deck .card.open {
    transform: rotateY(180deg);
    transition: transform 0.5s ease-in-out;
    background: #02b3e4;
    cursor: default;
}

.deck .card.open > * {
    transform: rotateY(180deg);
}

.deck .card.open > *:not(i) {
    font-size: 12px;
}

.deck .card.open > i {
    font-size: 33px;
    pointer-events: none;
}

.deck .card.show {
    font-size: 18px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    pointer-events: none;
}

.match .iconCode  {
    font-size: 12px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    min-width: 100px;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .stars i {
    list-style: none;
    display: inline-block;
    color: gold;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

div.iconCode {
    pointer-events: none;
}

#restart {
    float:right;
}

@media screen and (max-width: 700px) {
    .deck {
        width: 430px;
        min-height: 450px;
    }

    .deck .card {
        height: 75px;
        width: 75px;
    }

    .deck .card.open > *:not(i) {
        font-size: 8px;
    }
}

@media screen and (max-width: 470px) {
    .deck {
        width: 350px;
        min-height: 350px;
        padding: 10px;
    }

    .deck .card {
        height: 75px;
        width: 75px;
    }

    .deck .card.open > *:not(i) {
        font-size: 10px;
    }

    .deck .card.open > i {
        font-size: 24px;
    }
    
    .deck .card.match {
        font-size: 24px;
    }
    
    .match .iconCode {
        font-size: 10px;
        font-weight: 600;
    }
}
